@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Deshabilitar zoom y escalado */
html,
body {
  touch-action: manipulation;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

body {
    @apply bg-gradient-to-b from-[#C9F5BC] to-[#B8D6F2];
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;     /* Firefox */
}